@font-face {
    font-family: "oasis-icon";
    src: url('oasis-icon.woff?version=1.0.3.1469105113618') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "glyphicon";
    src: url('glyphicons-halflings-regular.woff?version=201703031007') format('woff');
    font-weight: normal;
    font-style: normal;
}

.oasicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'oasis-icon';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 64px;
}

.glyphicon {
    position: relative;
    /* top: 1px; */
    display: inline-block;
    font-family: 'glyphicon';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* margin: 3px; */
}

.oasicon-lg {
    font-size: 96px;
}

.oasicon-2x {
    font-size: 32px;
}

.oasicon-3x {
    font-size: 48px;
}

.oasicon-4x {
    font-size: 64px;
}

.oasicon-5x {
    font-size: 80px;
}

.oasicon-fw {
    width: 1.2857142857142858em;
    text-align: center;
}

.oasicon-asc,
.oasicon-asc:before {
    content: "\E001";
}

.oasicon-auth-manage,
.oasicon-auth-manage:before {
    content: "\E002";
}

.oasicon-business-audit,
.oasicon-business-audit:before {
    content: "\E003";
}

.oasicon-business-check,
.oasicon-business-check:before {
    content: "\E004";
}

.oasicon-business-control,
.oasicon-business-control:before {
    content: "\E005";
}

.oasicon-business-export,
.oasicon-business-export:before {
    content: "\E006";
}

.oasicon-case-manage,
.oasicon-case-manage:before {
    content: "\E007";
}

.oasicon-copy,
.oasicon-copy:before {
    content: "\E008";
}

.oasicon-data-statistics,
.oasicon-data-statistics:before {
    content: "\E009";
}

.oasicon-delete,
.oasicon-delete:before {
    content: "\E00A";
}

.oasicon-desc,
.oasicon-desc:before {
    content: "\E00B";
}

.oasicon-details,
.oasicon-details:before {
    content: "\E00C";
}

.oasicon-dowm,
.oasicon-dowm:before {
    content: "\E00D";
}

.oasicon-feedback,
.oasicon-feedback:before {
    content: "\E00E";
}

.oasicon-fox-watch,
.oasicon-fox-watch:before {
    content: "\E00F";
}

.oasicon-help,
.oasicon-help:before {
    content: "\E010";
}

.oasicon-history-record,
.oasicon-history-record:before {
    content: "\E011";
}

.oasicon-id-card,
.oasicon-id-card:before {
    content: "\E012";
}

.oasicon-iquery,
.oasicon-iquery:before {
    content: "\E013";
}

.oasicon-log-check,
.oasicon-log-check:before {
    content: "\E014";
}

.oasicon-log-statistics,
.oasicon-log-statistics:before {
    content: "\E015";
}

.oasicon-notice,
.oasicon-notice:before {
    content: "\E016";
}

.oasicon-obj-control,
.oasicon-obj-control:before {
    content: "\E017";
}

.oasicon-quit,
.oasicon-quit:before {
    content: "\E018";
}

.oasicon-res-manage,
.oasicon-res-manage:before {
    content: "\E019";
}

.oasicon-right-manage,
.oasicon-right-manage:before {
    content: "\E01A";
}

.oasicon-setting,
.oasicon-setting:before {
    content: "\E01B";
}

.oasicon-sort,
.oasicon-sort:before {
    content: "\E01C";
}

.oasicon-succes,
.oasicon-succes:before {
    content: "\E01D";
}

.oasicon-swerve,
.oasicon-swerve:before {
    content: "\E01E";
}

.oasicon-tip,
.oasicon-tip:before {
    content: "\E01F";
}

.oasicon-up,
.oasicon-up:before {
    content: "\E020";
}

.oasicon-user,
.oasicon-user:before {
    content: "\E021";
}

.oasicon-users,
.oasicon-users:before {
    content: "\E022";
}

.oasicon-wx-fix,
.oasicon-wx-fix:before {
    content: "\E023";
}

.oasis-spin {
    -webkit-animation: oasis-spin 2s infinite linear;
    animation: oasis-spin 2s infinite linear
}

.oasis-pulse {
    -webkit-animation: oasis-spin 1s infinite steps(8);
    animation: oasis-spin 1s infinite steps(8)
}

.glyphicon-asterisk,
.glyphicon-asterisk:before {
    content: "\002a";
}

.glyphicon-plus,
.glyphicon-plus:before {
    content: "\002b";
}

.glyphicon-euro,
.glyphicon-euro:before {
    content: "\20ac";
}

.glyphicon-eur,
.glyphicon-eur:before {
    content: "\20ac";
}

.glyphicon-minus,
.glyphicon-minus:before {
    content: "\2212";
}

.glyphicon-cloud,
.glyphicon-cloud:before {
    content: "\2601";
}

.glyphicon-envelope,
.glyphicon-envelope:before {
    content: "\2709";
}

.glyphicon-pencil,
.glyphicon-pencil:before {
    content: "\270f";
}

.glyphicon-glass,
.glyphicon-glass:before {
    content: "\e001";
}

.glyphicon-music,
.glyphicon-music:before {
    content: "\e002";
}

.glyphicon-search,
.glyphicon-search:before {
    content: "\e003";
}

.glyphicon-heart,
.glyphicon-heart:before {
    content: "\e005";
}

.glyphicon-star,
.glyphicon-star:before {
    content: "\e006";
}

.glyphicon-star-empty,
.glyphicon-star-empty:before {
    content: "\e007";
}

.glyphicon-user,
.glyphicon-user:before {
    content: "\e008";
}

.glyphicon-film,
.glyphicon-film:before {
    content: "\e009";
}

.glyphicon-th-large,
.glyphicon-th-large:before {
    content: "\e010";
}

.glyphicon-th,
.glyphicon-th:before {
    content: "\e011";
}

.glyphicon-th-list,
.glyphicon-th-list:before {
    content: "\e012";
}

.glyphicon-ok,
.glyphicon-ok:before {
    content: "\e013";
}

.glyphicon-remove,
.glyphicon-remove:before {
    content: "\e014";
}

.glyphicon-zoom-in,
.glyphicon-zoom-in:before {
    content: "\e015";
}

.glyphicon-zoom-out,
.glyphicon-zoom-out:before {
    content: "\e016";
}

.glyphicon-off,
.glyphicon-off:before {
    content: "\e017";
}

.glyphicon-signal,
.glyphicon-signal:before {
    content: "\e018";
}

.glyphicon-cog,
.glyphicon-cog:before {
    content: "\e019";
}

.glyphicon-trash,
.glyphicon-trash:before {
    content: "\e020";
}

.glyphicon-home,
.glyphicon-home:before {
    content: "\e021";
}

.glyphicon-file,
.glyphicon-file:before {
    content: "\e022";
}

.glyphicon-time,
.glyphicon-time:before {
    content: "\e023";
}

.glyphicon-road,
.glyphicon-road:before {
    content: "\e024";
}

.glyphicon-download-alt,
.glyphicon-download-alt:before {
    content: "\e025";
}

.glyphicon-download,
.glyphicon-download:before {
    content: "\e026";
}

.glyphicon-upload,
.glyphicon-upload:before {
    content: "\e027";
}

.glyphicon-inbox,
.glyphicon-inbox:before {
    content: "\e028";
}

.glyphicon-play-circle,
.glyphicon-play-circle:before {
    content: "\e029";
}

.glyphicon-repeat,
.glyphicon-repeat:before {
    content: "\e030";
}

.glyphicon-refresh,
.glyphicon-refresh:before {
    content: "\e031";
}

.glyphicon-list-alt,
.glyphicon-list-alt:before {
    content: "\e032";
}

.glyphicon-lock,
.glyphicon-lock:before {
    content: "\e033";
}

.glyphicon-flag,
.glyphicon-flag:before {
    content: "\e034";
}

.glyphicon-headphones,
.glyphicon-headphones:before {
    content: "\e035";
}

.glyphicon-volume-off,
.glyphicon-volume-off:before {
    content: "\e036";
}

.glyphicon-volume-down,
.glyphicon-volume-down:before {
    content: "\e037";
}

.glyphicon-volume-up,
.glyphicon-volume-up:before {
    content: "\e038";
}

.glyphicon-qrcode,
.glyphicon-qrcode:before {
    content: "\e039";
}

.glyphicon-barcode,
.glyphicon-barcode:before {
    content: "\e040";
}

.glyphicon-tag,
.glyphicon-tag:before {
    content: "\e041";
}

.glyphicon-tags,
.glyphicon-tags:before {
    content: "\e042";
}

.glyphicon-book,
.glyphicon-book:before {
    content: "\e043";
}

.glyphicon-bookmark,
.glyphicon-bookmark:before {
    content: "\e044";
}

.glyphicon-print,
.glyphicon-print:before {
    content: "\e045";
}

.glyphicon-camera,
.glyphicon-camera:before {
    content: "\e046";
}

.glyphicon-font,
.glyphicon-font:before {
    content: "\e047";
}

.glyphicon-bold,
.glyphicon-bold:before {
    content: "\e048";
}

.glyphicon-italic,
.glyphicon-italic:before {
    content: "\e049";
}

.glyphicon-text-height,
.glyphicon-text-height:before {
    content: "\e050";
}

.glyphicon-text-width,
.glyphicon-text-width:before {
    content: "\e051";
}

.glyphicon-align-left,
.glyphicon-align-left:before {
    content: "\e052";
}

.glyphicon-align-center,
.glyphicon-align-center:before {
    content: "\e053";
}

.glyphicon-align-right,
.glyphicon-align-right:before {
    content: "\e054";
}

.glyphicon-align-justify,
.glyphicon-align-justify:before {
    content: "\e055";
}

.glyphicon-list,
.glyphicon-list:before {
    content: "\e056";
}

.glyphicon-indent-left,
.glyphicon-indent-left:before {
    content: "\e057";
}

.glyphicon-indent-right,
.glyphicon-indent-right:before {
    content: "\e058";
}

.glyphicon-facetime-video,
.glyphicon-facetime-video:before {
    content: "\e059";
}

.glyphicon-picture,
.glyphicon-picture:before {
    content: "\e060";
}

.glyphicon-map-marker,
.glyphicon-map-marker:before {
    content: "\e062";
}

.glyphicon-adjust,
.glyphicon-adjust:before {
    content: "\e063";
}

.glyphicon-tint,
.glyphicon-tint:before {
    content: "\e064";
}

.glyphicon-edit,
.glyphicon-edit:before {
    content: "\e065";
}

.glyphicon-share,
.glyphicon-share:before {
    content: "\e066";
}

.glyphicon-check,
.glyphicon-check:before {
    content: "\e067";
}

.glyphicon-move,
.glyphicon-move:before {
    content: "\e068";
}

.glyphicon-step-backward,
.glyphicon-step-backward:before {
    content: "\e069";
}

.glyphicon-fast-backward,
.glyphicon-fast-backward:before {
    content: "\e070";
}

.glyphicon-backward,
.glyphicon-backward:before {
    content: "\e071";
}

.glyphicon-play,
.glyphicon-play:before {
    content: "\e072";
}

.glyphicon-pause,
.glyphicon-pause:before {
    content: "\e073";
}

.glyphicon-stop,
.glyphicon-stop:before {
    content: "\e074";
}

.glyphicon-forward,
.glyphicon-forward:before {
    content: "\e075";
}

.glyphicon-fast-forward,
.glyphicon-fast-forward:before {
    content: "\e076";
}

.glyphicon-step-forward,
.glyphicon-step-forward:before {
    content: "\e077";
}

.glyphicon-eject,
.glyphicon-eject:before {
    content: "\e078";
}

.glyphicon-chevron-left,
.glyphicon-chevron-left:before {
    content: "\e079";
}

.glyphicon-chevron-right,
.glyphicon-chevron-right:before {
    content: "\e080";
}

.glyphicon-plus-sign,
.glyphicon-plus-sign:before {
    content: "\e081";
}

.glyphicon-minus-sign,
.glyphicon-minus-sign:before {
    content: "\e082";
}

.glyphicon-remove-sign,
.glyphicon-remove-sign:before {
    content: "\e083";
}

.glyphicon-ok-sign,
.glyphicon-ok-sign:before {
    content: "\e084";
}

.glyphicon-question-sign,
.glyphicon-question-sign:before {
    content: "\e085";
}

.glyphicon-info-sign,
.glyphicon-info-sign:before {
    content: "\e086";
}

.glyphicon-screenshot,
.glyphicon-screenshot:before {
    content: "\e087";
}

.glyphicon-remove-circle,
.glyphicon-remove-circle:before {
    content: "\e088";
}

.glyphicon-ok-circle,
.glyphicon-ok-circle:before {
    content: "\e089";
}

.glyphicon-ban-circle,
.glyphicon-ban-circle:before {
    content: "\e090";
}

.glyphicon-arrow-left,
.glyphicon-arrow-left:before {
    content: "\e091";
}

.glyphicon-arrow-right,
.glyphicon-arrow-right:before {
    content: "\e092";
}

.glyphicon-arrow-up,
.glyphicon-arrow-up:before {
    content: "\e093";
}

.glyphicon-arrow-down,
.glyphicon-arrow-down:before {
    content: "\e094";
}

.glyphicon-share-alt,
.glyphicon-share-alt:before {
    content: "\e095";
}

.glyphicon-resize-full,
.glyphicon-resize-full:before {
    content: "\e096";
}

.glyphicon-resize-small,
.glyphicon-resize-small:before {
    content: "\e097";
}

.glyphicon-exclamation-sign,
.glyphicon-exclamation-sign:before {
    content: "\e101";
}

.glyphicon-gift,
.glyphicon-gift:before {
    content: "\e102";
}

.glyphicon-leaf,
.glyphicon-leaf:before {
    content: "\e103";
}

.glyphicon-fire,
.glyphicon-fire:before {
    content: "\e104";
}

.glyphicon-eye-open,
.glyphicon-eye-open:before {
    content: "\e105";
}

.glyphicon-eye-close,
.glyphicon-eye-close:before {
    content: "\e106";
}

.glyphicon-warning-sign,
.glyphicon-warning-sign:before {
    content: "\e107";
}

.glyphicon-plane,
.glyphicon-plane:before {
    content: "\e108";
}

.glyphicon-calendar,
.glyphicon-calendar:before {
    content: "\e109";
}

.glyphicon-random,
.glyphicon-random:before {
    content: "\e110";
}

.glyphicon-comment,
.glyphicon-comment:before {
    content: "\e111";
}

.glyphicon-magnet,
.glyphicon-magnet:before {
    content: "\e112";
}

.glyphicon-chevron-up,
.glyphicon-chevron-up:before {
    content: "\e113";
}

.glyphicon-chevron-down,
.glyphicon-chevron-down:before {
    content: "\e114";
}

.glyphicon-retweet,
.glyphicon-retweet:before {
    content: "\e115";
}

.glyphicon-shopping-cart,
.glyphicon-shopping-cart:before {
    content: "\e116";
}

.glyphicon-folder-close,
.glyphicon-folder-close:before {
    content: "\e117";
}

.glyphicon-folder-open,
.glyphicon-folder-open:before {
    content: "\e118";
}

.glyphicon-resize-vertical,
.glyphicon-resize-vertical:before {
    content: "\e119";
}

.glyphicon-resize-horizontal,
.glyphicon-resize-horizontal:before {
    content: "\e120";
}

.glyphicon-hdd,
.glyphicon-hdd:before {
    content: "\e121";
}

.glyphicon-bullhorn,
.glyphicon-bullhorn:before {
    content: "\e122";
}

.glyphicon-bell,
.glyphicon-bell:before {
    content: "\e123";
}

.glyphicon-certificate,
.glyphicon-certificate:before {
    content: "\e124";
}

.glyphicon-thumbs-up,
.glyphicon-thumbs-up:before {
    content: "\e125";
}

.glyphicon-thumbs-down,
.glyphicon-thumbs-down:before {
    content: "\e126";
}

.glyphicon-hand-right,
.glyphicon-hand-right:before {
    content: "\e127";
}

.glyphicon-hand-left,
.glyphicon-hand-left:before {
    content: "\e128";
}

.glyphicon-hand-up,
.glyphicon-hand-up:before {
    content: "\e129";
}

.glyphicon-hand-down,
.glyphicon-hand-down:before {
    content: "\e130";
}

.glyphicon-circle-arrow-right,
.glyphicon-circle-arrow-right:before {
    content: "\e131";
}

.glyphicon-circle-arrow-left,
.glyphicon-circle-arrow-left:before {
    content: "\e132";
}

.glyphicon-circle-arrow-up,
.glyphicon-circle-arrow-up:before {
    content: "\e133";
}

.glyphicon-circle-arrow-down,
.glyphicon-circle-arrow-down:before {
    content: "\e134";
}

.glyphicon-globe,
.glyphicon-globe:before {
    content: "\e135";
}

.glyphicon-wrench,
.glyphicon-wrench:before {
    content: "\e136";
}

.glyphicon-tasks,
.glyphicon-tasks:before {
    content: "\e137";
}

.glyphicon-filter,
.glyphicon-filter:before {
    content: "\e138";
}

.glyphicon-briefcase,
.glyphicon-briefcase:before {
    content: "\e139";
}

.glyphicon-fullscreen,
.glyphicon-fullscreen:before {
    content: "\e140";
}

.glyphicon-dashboard,
.glyphicon-dashboard:before {
    content: "\e141";
}

.glyphicon-paperclip,
.glyphicon-paperclip:before {
    content: "\e142";
}

.glyphicon-heart-empty,
.glyphicon-heart-empty:before {
    content: "\e143";
}

.glyphicon-link,
.glyphicon-link:before {
    content: "\e144";
}

.glyphicon-phone,
.glyphicon-phone:before {
    content: "\e145";
}

.glyphicon-pushpin,
.glyphicon-pushpin:before {
    content: "\e146";
}

.glyphicon-usd,
.glyphicon-usd:before {
    content: "\e148";
}

.glyphicon-gbp,
.glyphicon-gbp:before {
    content: "\e149";
}

.glyphicon-sort,
.glyphicon-sort:before {
    content: "\e150";
}

.glyphicon-sort-by-alphabet,
.glyphicon-sort-by-alphabet:before {
    content: "\e151";
}

.glyphicon-sort-by-alphabet-alt,
.glyphicon-sort-by-alphabet-alt:before {
    content: "\e152";
}

.glyphicon-sort-by-order,
.glyphicon-sort-by-order:before {
    content: "\e153";
}

.glyphicon-sort-by-order-alt,
.glyphicon-sort-by-order-alt:before {
    content: "\e154";
}

.glyphicon-sort-by-attributes,
.glyphicon-sort-by-attributes:before {
    content: "\e155";
}

.glyphicon-sort-by-attributes-alt,
.glyphicon-sort-by-attributes-alt:before {
    content: "\e156";
}

.glyphicon-unchecked,
.glyphicon-unchecked:before {
    content: "\e157";
}

.glyphicon-expand,
.glyphicon-expand:before {
    content: "\e158";
}

.glyphicon-collapse-down,
.glyphicon-collapse-down:before {
    content: "\e159";
}

.glyphicon-collapse-up,
.glyphicon-collapse-up:before {
    content: "\e160";
}

.glyphicon-log-in,
.glyphicon-log-in:before {
    content: "\e161";
}

.glyphicon-flash,
.glyphicon-flash:before {
    content: "\e162";
}

.glyphicon-log-out,
.glyphicon-log-out:before {
    content: "\e163";
}

.glyphicon-new-window,
.glyphicon-new-window:before {
    content: "\e164";
}

.glyphicon-record,
.glyphicon-record:before {
    content: "\e165";
}

.glyphicon-save,
.glyphicon-save:before {
    content: "\e166";
}

.glyphicon-open,
.glyphicon-open:before {
    content: "\e167";
}

.glyphicon-saved,
.glyphicon-saved:before {
    content: "\e168";
}

.glyphicon-import,
.glyphicon-import:before {
    content: "\e169";
}

.glyphicon-export,
.glyphicon-export:before {
    content: "\e170";
}

.glyphicon-send,
.glyphicon-send:before {
    content: "\e171";
}

.glyphicon-floppy-disk,
.glyphicon-floppy-disk:before {
    content: "\e172";
}

.glyphicon-floppy-saved,
.glyphicon-floppy-saved:before {
    content: "\e173";
}

.glyphicon-floppy-remove,
.glyphicon-floppy-remove:before {
    content: "\e174";
}

.glyphicon-floppy-save,
.glyphicon-floppy-save:before {
    content: "\e175";
}

.glyphicon-floppy-open,
.glyphicon-floppy-open:before {
    content: "\e176";
}

.glyphicon-credit-card,
.glyphicon-credit-card:before {
    content: "\e177";
}

.glyphicon-transfer,
.glyphicon-transfer:before {
    content: "\e178";
}

.glyphicon-cutlery,
.glyphicon-cutlery:before {
    content: "\e179";
}

.glyphicon-header,
.glyphicon-header:before {
    content: "\e180";
}

.glyphicon-compressed,
.glyphicon-compressed:before {
    content: "\e181";
}

.glyphicon-earphone,
.glyphicon-earphone:before {
    content: "\e182";
}

.glyphicon-phone-alt,
.glyphicon-phone-alt:before {
    content: "\e183";
}

.glyphicon-tower,
.glyphicon-tower:before {
    content: "\e184";
}

.glyphicon-stats,
.glyphicon-stats:before {
    content: "\e185";
}

.glyphicon-sd-video,
.glyphicon-sd-video:before {
    content: "\e186";
}

.glyphicon-hd-video,
.glyphicon-hd-video:before {
    content: "\e187";
}

.glyphicon-subtitles,
.glyphicon-subtitles:before {
    content: "\e188";
}

.glyphicon-sound-stereo,
.glyphicon-sound-stereo:before {
    content: "\e189";
}

.glyphicon-sound-dolby,
.glyphicon-sound-dolby:before {
    content: "\e190";
}

.glyphicon-sound-5-1,
.glyphicon-sound-5-1:before {
    content: "\e191";
}

.glyphicon-sound-6-1,
.glyphicon-sound-6-1:before {
    content: "\e192";
}

.glyphicon-sound-7-1,
.glyphicon-sound-7-1:before {
    content: "\e193";
}

.glyphicon-copyright-mark,
.glyphicon-copyright-mark:before {
    content: "\e194";
}

.glyphicon-registration-mark,
.glyphicon-registration-mark:before {
    content: "\e195";
}

.glyphicon-cloud-download,
.glyphicon-cloud-download:before {
    content: "\e197";
}

.glyphicon-cloud-upload,
.glyphicon-cloud-upload:before {
    content: "\e198";
}

.glyphicon-tree-conifer,
.glyphicon-tree-conifer:before {
    content: "\e199";
}

.glyphicon-tree-deciduous,
.glyphicon-tree-deciduous:before {
    content: "\e200";
}

.glyphicon-cd,
.glyphicon-cd:before {
    content: "\e201";
}

.glyphicon-save-file,
.glyphicon-save-file:before {
    content: "\e202";
}

.glyphicon-open-file,
.glyphicon-open-file:before {
    content: "\e203";
}

.glyphicon-level-up,
.glyphicon-level-up:before {
    content: "\e204";
}

.glyphicon-copy,
.glyphicon-copy:before {
    content: "\e205";
}

.glyphicon-paste,
.glyphicon-paste:before {
    content: "\e206";
}

.glyphicon-alert,
.glyphicon-alert:before {
    content: "\e209";
}

.glyphicon-equalizer,
.glyphicon-equalizer:before {
    content: "\e210";
}

.glyphicon-king,
.glyphicon-king:before {
    content: "\e211";
}

.glyphicon-queen,
.glyphicon-queen:before {
    content: "\e212";
}

.glyphicon-pawn,
.glyphicon-pawn:before {
    content: "\e213";
}

.glyphicon-bishop,
.glyphicon-bishop:before {
    content: "\e214";
}

.glyphicon-knight,
.glyphicon-knight:before {
    content: "\e215";
}

.glyphicon-baby-formula,
.glyphicon-baby-formula:before {
    content: "\e216";
}

.glyphicon-tent,
.glyphicon-tent:before {
    content: "\26fa";
}

.glyphicon-blackboard,
.glyphicon-blackboard:before {
    content: "\e218";
}

.glyphicon-bed,
.glyphicon-bed:before {
    content: "\e219";
}

.glyphicon-apple,
.glyphicon-apple:before {
    content: "\f8ff";
}

.glyphicon-erase,
.glyphicon-erase:before {
    content: "\e221";
}

.glyphicon-hourglass,
.glyphicon-hourglass:before {
    content: "\231b";
}

.glyphicon-lamp,
.glyphicon-lamp:before {
    content: "\e223";
}

.glyphicon-duplicate,
.glyphicon-duplicate:before {
    content: "\e224";
}

.glyphicon-piggy-bank,
.glyphicon-piggy-bank:before {
    content: "\e225";
}

.glyphicon-scissors,
.glyphicon-scissors:before {
    content: "\e226";
}

.glyphicon-bitcoin,
.glyphicon-bitcoin:before {
    content: "\e227";
}

.glyphicon-btc,
.glyphicon-btc:before {
    content: "\e227";
}

.glyphicon-xbt,
.glyphicon-xbt:before {
    content: "\e227";
}

.glyphicon-yen,
.glyphicon-yen:before {
    content: "\00a5";
}

.glyphicon-jpy,
.glyphicon-jpy:before {
    content: "\00a5";
}

.glyphicon-ruble,
.glyphicon-ruble:before {
    content: "\20bd";
}

.glyphicon-rub,
.glyphicon-rub:before {
    content: "\20bd";
}

.glyphicon-scale,
.glyphicon-scale:before {
    content: "\e230";
}

.glyphicon-ice-lolly,
.glyphicon-ice-lolly:before {
    content: "\e231";
}

.glyphicon-ice-lolly-tasted,
.glyphicon-ice-lolly-tasted:before {
    content: "\e232";
}

.glyphicon-education,
.glyphicon-education:before {
    content: "\e233";
}

.glyphicon-option-horizontal,
.glyphicon-option-horizontal:before {
    content: "\e234";
}

.glyphicon-option-vertical,
.glyphicon-option-vertical:before {
    content: "\e235";
}

.glyphicon-menu-hamburger,
.glyphicon-menu-hamburger:before {
    content: "\e236";
}

.glyphicon-modal-window,
.glyphicon-modal-window:before {
    content: "\e237";
}

.glyphicon-oil,
.glyphicon-oil:before {
    content: "\e238";
}

.glyphicon-grain,
.glyphicon-grain:before {
    content: "\e239";
}

.glyphicon-sunglasses,
.glyphicon-sunglasses:before {
    content: "\e240";
}

.glyphicon-text-size,
.glyphicon-text-size:before {
    content: "\e241";
}

.glyphicon-text-color,
.glyphicon-text-color:before {
    content: "\e242";
}

.glyphicon-text-background,
.glyphicon-text-background:before {
    content: "\e243";
}

.glyphicon-object-align-top,
.glyphicon-object-align-top:before {
    content: "\e244";
}

.glyphicon-object-align-bottom,
.glyphicon-object-align-bottom:before {
    content: "\e245";
}

.glyphicon-object-align-horizontal,
.glyphicon-object-align-horizontal:before {
    content: "\e246";
}

.glyphicon-object-align-left,
.glyphicon-object-align-left:before {
    content: "\e247";
}

.glyphicon-object-align-vertical,
.glyphicon-object-align-vertical:before {
    content: "\e248";
}

.glyphicon-object-align-right,
.glyphicon-object-align-right:before {
    content: "\e249";
}

.glyphicon-triangle-right,
.glyphicon-triangle-right:before {
    content: "\e250";
}

.glyphicon-triangle-left,
.glyphicon-triangle-left:before {
    content: "\e251";
}

.glyphicon-triangle-bottom,
.glyphicon-triangle-bottom:before {
    content: "\e252";
}

.glyphicon-triangle-top,
.glyphicon-triangle-top:before {
    content: "\e253";
}

.glyphicon-console,
.glyphicon-console:before {
    content: "\e254";
}

.glyphicon-superscript,
.glyphicon-superscript:before {
    content: "\e255";
}

.glyphicon-subscript,
.glyphicon-subscript:before {
    content: "\e256";
}

.glyphicon-menu-left,
.glyphicon-menu-left:before {
    content: "\e257";
}

.glyphicon-menu-right,
.glyphicon-menu-right:before {
    content: "\e258";
}

.glyphicon-menu-down,
.glyphicon-menu-down:before {
    content: "\e259";
}

.glyphicon-menu-up,
.glyphicon-menu-up:before {
    content: "\e260";
}

@-webkit-keyframes oasis-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes oasis-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}